[submodule "version1/MX_Alps_Hybrid.pretty"]
	path = version1/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "version1/random-keyboard-parts.pretty"]
	path = version1/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
